/* DESIGN SYSTEM COLOUR PALETTE */

/* Defined here https://www.figma.com/file/YrCXp3zztpwtcSD9XVge7Z/%E2%9C%A8Foundations?node-id=0%3A1 */

/* Storybook: https://storybook.internal.dckr.io/?path=/story/foundations-palettes--palettes */

/* All legacy should be transitioned to these */

/* primary */

/* primary */

/* primary */

/* primary */

/* primary */

/* primary */

/* media queries */

/* lib/constants/sizes */

/* layout */

/* spacing */

/* misc */

/* body font sizes */

/* heading font sizes */

/* font family */

/* -----------------------------------------------------------------------------
 | Color Purpose Vars
----------------------------------------------------------------------------- */

/* lib/constants/variants */

/* CTA component colors */

/* cohesion font colors */

/* possibly used in mixins */

/* Autobuilds Colors */

/* audit logs colors */

/* State Colors */

/* are these being used in mixins? */

/* this variable is being overwritten in cloud/Core/object/components/State/styles.module.css */

/* -- These use colors not found in the styleguide -- */

/* - end -- */

/* Note: These are volumes states and not actual/valid object states.
 Added here for completion
*/

/* button */

/* select */

/* input */

/* stylelint-disable value-list-comma-newline-after */

/* box-shadow for store cards */

/* component: tab */

/* Publish flow */

/* Public Profile */

/* v2 */

/* Sign up form width */

/**
  This was extracted from the Wrapped component. There are subtle differences
  from the wrapped mixin, but they could probably be unified with a little
  effort.

  It's defined here as a rule rather than a mixin so it can be used with
  `composes`, which generally yields smaller code bundles.
*/

.styles-module__wrapped___kOCKk {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1280px;
  padding-left: 12px;
  padding-right: 12px;
}

/* https://goo.gl/Mus6xj */

/* Font sizes */

/* columns */

/* Three equal columns */

/* Rows */

/* TODO:  Use flex. Flexbox doesn't seem to work on iOS safari/chrome
          when overriding a lost column for small devices (?)(Registration page)
*/

@keyframes styles-module__fadein___Dfmaq {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* flex does not work inside firefox buttons, this is a workaround
   http://stackoverflow.com/questions/24289251/flexbox-not-working-in-buttons-in-firefox */

/* Causes text that overflows in an element to be truncated with an ellipsis. */

/*
 A little trick for vertically centering text content that doesn't wrap when
 the element's height is known.
*/

.dicon {
    width: 24px;
    height: 24px;
  }

/*
lib/constants/sizes
**************/

.styles-module__supertiny___thUDp {
    width: 8px;
    height: 8px;
  }

.styles-module__tiny____5Mr_ {
    width: 12px;
    height: 12px;
  }

.styles-module__small___gtEfJ {
    width: 18px;
    height: 18px;
  }

.styles-module__regular___z_uEW {
    width: 24px;
    height: 24px;
  }

.styles-module__large___YTAE6 {
    width: 40px;
    height: 40px;
  }

.styles-module__xlarge___Kf12h {
    width: 60px;
    height: 60px;
  }

/*
lib/constants/variants
**************/

.styles-module__primary___bx21j {
  fill: #086dd7;
}

.styles-module__secondary___E4WxE {
  fill: #88d5c0;
}

.styles-module__warn___JrKDl {
  fill: #fbb552;
}

.styles-module__panic___cm5RF {
  fill: #d52536;
}

.styles-module__dull___UyQih {
  fill: #8993a5;
}

/* DESIGN SYSTEM COLOUR PALETTE */

/* Defined here https://www.figma.com/file/YrCXp3zztpwtcSD9XVge7Z/%E2%9C%A8Foundations?node-id=0%3A1 */

/* Storybook: https://storybook.internal.dckr.io/?path=/story/foundations-palettes--palettes */

/* All legacy should be transitioned to these */

/* primary */

/* primary */

/* primary */

/* primary */

/* primary */

/* primary */

/* media queries */

/* lib/constants/sizes */

/* layout */

/* spacing */

/* misc */

/* body font sizes */

/* heading font sizes */

/* font family */

/* -----------------------------------------------------------------------------
 | Color Purpose Vars
----------------------------------------------------------------------------- */

/* lib/constants/variants */

/* CTA component colors */

/* cohesion font colors */

/* possibly used in mixins */

/* Autobuilds Colors */

/* audit logs colors */

/* State Colors */

/* are these being used in mixins? */

/* this variable is being overwritten in cloud/Core/object/components/State/styles.module.css */

/* -- These use colors not found in the styleguide -- */

/* - end -- */

/* Note: These are volumes states and not actual/valid object states.
 Added here for completion
*/

/* button */

/* select */

/* input */

/* stylelint-disable value-list-comma-newline-after */

/* box-shadow for store cards */

/* component: tab */

/* Publish flow */

/* Public Profile */

/* v2 */

/* Sign up form width */

/**
  This was extracted from the Wrapped component. There are subtle differences
  from the wrapped mixin, but they could probably be unified with a little
  effort.

  It's defined here as a rule rather than a mixin so it can be used with
  `composes`, which generally yields smaller code bundles.
*/

.styles-module__wrapped___Zac9C {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1280px;
  padding-left: 12px;
  padding-right: 12px;
}

/* https://goo.gl/Mus6xj */

/* Font sizes */

/* columns */

/* Three equal columns */

/* Rows */

/* TODO:  Use flex. Flexbox doesn't seem to work on iOS safari/chrome
          when overriding a lost column for small devices (?)(Registration page)
*/

@keyframes styles-module__fadein___uNxGC {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* flex does not work inside firefox buttons, this is a workaround
   http://stackoverflow.com/questions/24289251/flexbox-not-working-in-buttons-in-firefox */

/* Causes text that overflows in an element to be truncated with an ellipsis. */

/*
 A little trick for vertically centering text content that doesn't wrap when
 the element's height is known.
*/

@keyframes styles-module__load8___LkWR6 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.styles-module__supertiny___qiQMN {
  width: 18px;
  height: 18px;
  margin: 0 auto;
  position: relative;
}

.styles-module__supertiny___qiQMN::after {
    content: '';
    position: absolute;

    left: calc(50% - 9px);
    top: calc(50% - 9px);
    width: 16px;
    height: 16px;

    border-radius: 50%;
    border-top: 1px solid transparent;
    border-right: 1px solid #086dd7;
    border-bottom: 1px solid #086dd7;
    border-left: 1px solid #086dd7;

    font-size: 10px;
    text-indent: -9999em;
    transform: translateZ(0);

    animation: styles-module__load8___LkWR6 1.1s infinite linear;
  }

.styles-module__tiny___MdJbr {
  width: 27px;
  height: 27px;
  margin: 0 auto;
  position: relative;
}

.styles-module__tiny___MdJbr::after {
    content: '';
    position: absolute;

    left: calc(50% - 13.5px);
    top: calc(50% - 13.5px);
    width: 24px;
    height: 24px;

    border-radius: 50%;
    border-top: 1.5px solid transparent;
    border-right: 1.5px solid #086dd7;
    border-bottom: 1.5px solid #086dd7;
    border-left: 1.5px solid #086dd7;

    font-size: 10px;
    text-indent: -9999em;
    transform: translateZ(0);

    animation: styles-module__load8___LkWR6 1.1s infinite linear;
  }

.styles-module__small___WN5sv {
  width: 40.5px;
  height: 40.5px;
  margin: 0 auto;
  position: relative;
}

.styles-module__small___WN5sv::after {
    content: '';
    position: absolute;

    left: calc(50% - 20.25px);
    top: calc(50% - 20.25px);
    width: 36px;
    height: 36px;

    border-radius: 50%;
    border-top: 2.25px solid transparent;
    border-right: 2.25px solid #086dd7;
    border-bottom: 2.25px solid #086dd7;
    border-left: 2.25px solid #086dd7;

    font-size: 10px;
    text-indent: -9999em;
    transform: translateZ(0);

    animation: styles-module__load8___LkWR6 1.1s infinite linear;
  }

.styles-module__regular___k4dDY {
  width: 54px;
  height: 54px;
  margin: 0 auto;
  position: relative;
}

.styles-module__regular___k4dDY::after {
    content: '';
    position: absolute;

    left: calc(50% - 27px);
    top: calc(50% - 27px);
    width: 48px;
    height: 48px;

    border-radius: 50%;
    border-top: 3px solid transparent;
    border-right: 3px solid #086dd7;
    border-bottom: 3px solid #086dd7;
    border-left: 3px solid #086dd7;

    font-size: 10px;
    text-indent: -9999em;
    transform: translateZ(0);

    animation: styles-module__load8___LkWR6 1.1s infinite linear;
  }

.styles-module__large___Qcahn {
  width: 90px;
  height: 90px;
  margin: 0 auto;
  position: relative;
}

.styles-module__large___Qcahn::after {
    content: '';
    position: absolute;

    left: calc(50% - 45px);
    top: calc(50% - 45px);
    width: 80px;
    height: 80px;

    border-radius: 50%;
    border-top: 5px solid transparent;
    border-right: 5px solid #086dd7;
    border-bottom: 5px solid #086dd7;
    border-left: 5px solid #086dd7;

    font-size: 10px;
    text-indent: -9999em;
    transform: translateZ(0);

    animation: styles-module__load8___LkWR6 1.1s infinite linear;
  }

.styles-module__xlarge___m4_Cm {
  width: 135px;
  height: 135px;
  margin: 0 auto;
  position: relative;
}

.styles-module__xlarge___m4_Cm::after {
    content: '';
    position: absolute;

    left: calc(50% - 67.5px);
    top: calc(50% - 67.5px);
    width: 120px;
    height: 120px;

    border-radius: 50%;
    border-top: 7.5px solid transparent;
    border-right: 7.5px solid #086dd7;
    border-bottom: 7.5px solid #086dd7;
    border-left: 7.5px solid #086dd7;

    font-size: 10px;
    text-indent: -9999em;
    transform: translateZ(0);

    animation: styles-module__load8___LkWR6 1.1s infinite linear;
  }

.styles-module__overlay-primary___lsTQc::after {
    border-right-color: #086dd7;
    border-bottom-color: #086dd7;
    border-left-color: #086dd7;
  }

.styles-module__overlay-white___CItHo::after {
    border-right-color: #f9f9fa;
    border-bottom-color: #f9f9fa;
    border-left-color: #f9f9fa;
  }

